/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {

    margin-top: 30vh;
    background: lightblue url("https://images.unsplash.com/photo-1549778399-f94fd24d4697?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80") no-repeat fixed center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    /* border-radius: 10px; */
    padding: 15px 25px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}

#content {
    padding: 25px 25px
}

th {
    font-weight: bold;
    color: #60a9ff;
}

tr {
    border: 1px solid;
    border: 1px solid rgb(163, 163, 167);
}

h1 {
    font-weight: bolder;
    font-size: x-large;
}

button {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  --text-base: 277deg, 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 277deg, 90%, 62%;
  all: unset;
  color: hsla(var(--text-base), 1);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  max-width: 100%;
  width: 12em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsla(var(--text-base), 1);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}

button::before, button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
button::after {
  box-shadow: inset 0 0 0 1px #151111, 0 0 0 4px rgba(20, 20, 20, 0.7), 1px 1px 0 4px #171616;
  mix-blend-mode: overlay;
  opacity: 0;
}
button:hover, button:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
button:hover::before, button:hover::after, button:focus::before, button:focus::after {
  transform: none;
  opacity: 1;
}

label {
    padding-bottom: 1rem;
    font-weight: 600;
}

.form-group {
    margin-top: 25px;
}

.text-end {
    text-align: end;
    font-weight: 500;
    color: crimson;
    text-transform: none;
}

#tag {
    color: darkorange;
}

#voteStatus {
    padding: 3rem;
    text-transform: none;
    background-color: #dff3e3;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    text-decoration: rgb(4, 247, 166);
    color: darkgreen;
}

#myAccount {
    padding-top: 1rem;
    color: dimgray;
}

#accountTag {
    font-weight: bold;
    font-size: medium;
}

#note {
    font-size: small;
    color: red;
    text-transform: none;
}
